<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">Cálculo de tiempo</h5>
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6 col-12 col-sm-12 col-md-6">
            <label for="linesQuantity">Cantidad de líneas</label
            ><fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Esta es la cantidad de líneas que contiene su proyecto, para esto puede instalar una extensión en su editor, o utilizar herramientas como CLOC."
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="1500.."
              id="linesQuantity"
              (keyup)="calculateHd()"
              />
              <!-- name="linesQuantity" -->
              <!-- [(ngModel)]="time.linesQuantity" -->
              <!-- (change)="onTime()" -->
          </div>
          <div class="col-lg-6 col-12 col-sm-12 col-md-6">
            <label for="developmentMode">Modo de desarrollo</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Puede utilizar a, b, c ó d son valores que dependen de acuerdo al tipo de sistema desarrollado"
            ></fa-icon>
            <!-- <input
              type="text"
              class="form-control"
              placeholder="a, b, c"
              id="developmentMode"
              name="developmentMode"
              [(ngModel)]="time.developmentMode"
              (change)="onTime()"
            /> -->
            <select class="form-control" id="developmentMode" (change)="calculateHd()"> 
              <option value="0" selected disabled>Seleccionar modo</option>
              <option value="1">Organico</option>
              <option value="2">Semi-acoplado</option>
              <option value="3">Acoplado</option>
            </select>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <h6 class="text-center">Actores</h6>
        <div class="row">
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="simpleActor">Simples</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Los actores simples son comunicaciónes entre sistemas, esta cantidad depende de la complejidad de las tareas, por ejemplo: cuando otro sistema externo interactua con el sistema a desarrollar mediante una interfaz de programación definida y conocida (API, Application Programming Interface)"
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="simpleActor"
              (keyup)="calculateUUCP()"

            />
          </div>
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="mediumActor">Medios</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Los actores medios son aquellos que interactuan por protocolos de líneas de comando o similares, por ejemplo: Otro sistema externo que interacúa a través de SSH"
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="mediumActor"
              (keyup)="calculateUUCP()"

            />
          </div>
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="complexActor">Complejos</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Los actores complejos son aquellos que actuan directamente en el sistema con la interfaz gráfica de usuario, son los usuarios mismos."
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="complexActor"
              (keyup)="calculateUUCP()"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <h6 class="text-center">Casos de uso</h6>
        <div class="row">
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="simpleUse">Simples</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Número de casos de uso que contienen menos de 3 transacciones"
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="simpleUse"
              (keyup)="calculateUUCP()"
            />
          </div>
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="mediumUse">Medios</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Número de casos de uso que contienen de 4 a 7 transacciones"
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="mediumUse"
              (keyup)="calculateUUCP()"
            />
          </div>
          <div class="col-lg-4 col-12 col-md-4 col-sm-12">
            <label for="complexUse">Complejos</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Número de casos de uso que contienen más de 7 transacciones"
            ></fa-icon>
            <input
              type="number"
              class="form-control"
              placeholder="Ingrese un valor númerico"
              id="complexUse"
              (keyup)="calculateUUCP()"
            />
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <h6 class="text-center">Niveles de factores</h6>
        <div class="row">
          <div class="col-lg-4 col-12 col-md-6 col-sm-12">
            <label for="technicalFactor">Técnicos</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Los factores técnicos son los relacionados con el manejo y experiencia de tecnologías"
            ></fa-icon>
            <app-tech-factors-table
              (calculatedTCF)="gotTCF($event)"
            ></app-tech-factors-table>
          </div>
          <div class="col-lg-4 col-12 col-md-6 col-sm-12">
            <label for="ambientalFactor">Ambientales</label>
            <fa-icon
              [icon]="faQuestionCircle"
              placement="top"
              ngbTooltip="Los factores ambientales son los relacionados con el entorno y equipo de trabajo"
            ></fa-icon>
            <app-env-factors-table
            (calculatedTAF)="gotTAF($event)"
            ></app-env-factors-table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
