<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h3>¿Sabe calcular el costo de su proyecto de manera correcta?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        Esta calculadora te permitirá calcular el costo de su proyecto, basándanos
        en el cálculo del tiempo de desarrollo y el cálculo de precio mínimo por
        hora de su trabajo. Al utilizar esta herramienta obtendra un punto de
        partida para que pueda tomar desiciones sobre su proyecto.
      </p>
    </div>
  </div>
</div>

