<!-- NAVBAR -->  
<app-header></app-header>
<!-- SALUDO O MENSAJE  -->  
<app-greet></app-greet>

<!-- CONTENIDO PRINCIPAL  -->  
<div class="container">  
  <div class="row">
    <!-- CALCULO DEL TIEMPO Y PRECIO MÍNIMO POR HORA DE TRABAJO-->  
    <div class="col-lg-6 col-md-8 col-12 col-sm-12">
      <app-time></app-time>
      <app-price></app-price>
    </div>
    <!-- GENERADOR DE COSTOS Y DATOS GENERADOS  -->  
    <div class="col-lg-6 col-md-8 col-12 col-sm-12">
      <app-costs></app-costs>
    </div>  
  </div>
</div>

<router-outlet></router-outlet>
